# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

# Next.js
.next
out

# Local Env Files (보안을 위해 환경변수 파일은 절대 올리면 안 됩니다)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Nx Cloud (나중에 사용할 수 있으므로 미리 추가)
.nx/cloud

# Playwright/Jest (테스트 결과물)
/test-results
/playwright-report
/blob-report
/test-results/
/playwright/.cache